.home {
  display: flex;
  justify-content: center;
  align-items: center;
  .box {
    display: flex;
    flex-direction: column;
    width: 570px;
    background-color: $home-box-body-bg;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 2px;

    .header {
      display: flex;
      height: 50px;
      padding: 0px 15px;
      background-color: $home-box-header-bg;
      border-radius: 2px 2px 0px 0px;
      div {
        color: white;
        text-transform: uppercase;
        margin-left: 15px;
        display: flex;
        align-items: center;
        font-weight: 500;
      }
    }

    .body {
      padding: 25px;
      .inputs {
        display: flex;
        flex-wrap: wrap;
        gap: 50px 20px;
        justify-content: center;
      }
      .buttons {
        display: flex;
        justify-content: center;
        margin-top: 50px;

        button {
          padding: 20px;
          text-transform: uppercase;
          background-color: $home-box-button-bg;
          color: white;
          border-radius: 3px;
          border: 0;
          width: 230px;
          font-size: 1.1rem;
          margin-bottom: 20px;
          cursor: pointer;
        }
      }
    }

    .input-warning {
      text-align: center;
      padding-top: 20px;
      span {
        margin-left: 10px;
      }
    }
  }
}
